@charset "UTF-8";
/*FORMULÁŘ REGISTRACE + KONTAKT*/
.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding: 0 10px;
}

.form-title h2 {
  text-align: left;
  padding: 0px 10px;
}

.form__item,
.form__radio,
.form__select select,
.form__mes {
  display: block;
  margin-bottom: 30px;
}

.form__item input,
.form__mes textarea,
.form__select select {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  background-color: #38383D;
  color: white;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

.form__item label,
.form__item legend,
.form__mes legend,
.form__radio legend {
  font-size: 16px;
  color: #10D817;
  margin-bottom: 10px;
}

.radio__item [type=radio] {
  margin: 5px 0;
  height: 15px;
  width: 15px;
}

.form__mes textarea {
  height: 150px;
  padding: 12px 10px;
  resize: none;
}

.form__item [type=text],
.form__item [type=email],
select,
textarea {
  border: none;
  border-bottom: 3px solid #10D817;
}

.button {
  background-color: #10D817;
  color: #4a4a4f;
  border: 2px solid #10D817;
  border-radius: 20px;
  display: flex;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 15px;
}
.button a {
  text-decoration: none;
  color: #38383D;
}
.button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.button:hover a {
  color: #10D817;
}

.newsB {
  display: flex;
  margin: 0;
}

.sipka {
  bottom: 0;
  right: 10px;
  position: fixed;
}

.sipka img {
  background-color: #10D817;
  width: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__mobil--hidden {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 20px 0;
}

#domek {
  width: 20px;
  height: 20px;
}

.menu__item, .menu__toggler {
  display: flex;
  margin-left: 20px;
}

.menu__link, .menu__toggler {
  text-decoration: none;
  list-style-type: none;
  display: block;
  color: #10D817;
  text-align: left;
  font-size: 20px;
  border: 1px solid #4a4a4f;
}
.menu__link:hover, .menu__toggler:hover {
  font-weight: 800;
  border-bottom: 1px solid #10D817;
}

.menu__item--active {
  font-weight: 800;
  border-bottom: 1px solid #10D817;
}

@media screen and (max-width: 799px) {
  .menu__checkbox:checked ~ .menu__mobil--hidden {
    display: flex;
    flex-direction: column;
  }

  .menu__mobil--hidden .menu__link, .menu__toggler {
    text-align: left;
  }

  .box-mini {
    display: flex;
  }

  .box-mini h3 {
    padding-left: 15px;
  }
}
@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }

  .menu__mobil--hidden {
    display: flex;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38383D;
  padding: 10px;
  bottom: 0;
  /*position: fixed;*/
}

footer p {
  font-size: 20px;
  margin: 0;
}

#footer__logo {
  max-height: 15%;
  max-width: 15%;
  margin-right: 10px;
}

/*CSS PROPOZICE*/
.instruction ul {
  padding: 15px;
}

.instruction li {
  list-style-type: none;
  display: flex;
  color: #10D817;
}

.instruction p {
  padding: 0;
  margin: 0 0 0 3px;
  color: white;
}

.instruction a {
  text-decoration: none;
  color: white;
}

.instruction__text {
  padding: 15px;
}

.instruction__item {
  display: block;
  margin-bottom: 15px;
}

.instruction__item h3 {
  font-size: 16px;
  margin: 0;
}

.instruction__item p, li {
  color: white;
  margin: 0;
  font-size: 14px;
}

.instruction__item a {
  text-decoration: none;
  color: #10D817;
}

.instruction__item li {
  list-style-type: none;
}

#penalizace {
  color: white;
  margin-top: 5px;
}

.title--second {
  font-size: 14px;
  color: #10D817;
  margin-top: 10px;
}

#penalizace li {
  color: white;
  margin-top: 5px;
}

.scrollable-table {
  overflow-x: auto;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #10D817;
}

th, td {
  text-align: center;
  border: 1px solid #10D817;
  padding: 3px;
}

td {
  color: white;
}

.tab-title th {
  background-color: #38383D;
  padding: 2px;
}

/*
tr:nth-child(odd)
{background-color: $bgd-second;}*/
.result a {
  display: block;
  text-decoration: none;
  color: #10D817;
}

.video, .foto {
  display: inline-blok;
  text-align: center;
}

.video iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/*width="560" height="315"*/
.video p, .photo p {
  font-size: 18px;
}

.photo {
  margin-bottom: 10px;
  text-align: center;
}

.photo a {
  text-decoration: none;
  color: white;
}

.photo__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.photo__list img {
  max-width: 100%;
  justify-items: center;
}

/*KONTAKTY*/
.contacts {
  display: block;
  text-align: center;
  margin: 35px 0 25px 0;
}

.contacts p,
.contacts a {
  font-size: 18px;
  text-decoration: none;
  color: #10D817;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__item img {
  width: 8%;
  height: 8%;
  margin-right: 10px;
}

.news__list {
  display: flex;
}

.news__list img {
  max-width: 100%;
}

.article {
  /*display: flex;
  flex-direction: column;*/
  padding: 0 20px;
}

.article__text a {
  text-decoration: none;
  color: white;
}
.article__text a:hover {
  border-bottom: 1px solid #10D817;
}

.article__img {
  justify-content: center;
  max-width: 100%;
}

.article__content {
  color: white;
}

.article__content h4 {
  color: #10D817;
}

.article__content a {
  text-decoration: none;
  color: #10D817;
}

.news__item a {
  text-decoration: none;
  color: #10D817;
}

/*CSS pro novinky na hlavní stránce*/
.index__item h2 {
  font-size: 16px;
}

.index__item p {
  font-size: 12px;
}

.index__item a {
  text-decoration: none;
  color: #10D817;
  font-size: 14px;
}

.index__item {
  margin-left: 10px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #4a4a4f;
  margin: 0 auto;
  padding: 0;
  color: #10D817;
  height: 100%;
}

.sirka {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

/*nadpis-obrázek a MTBO nad menu*/
.top {
  display: block;
  margin: 0 auto;
}

.logoM {
  display: block;
  text-align: center;
}

.logoM img {
  max-height: 60%;
  max-width: 60%;
  margin-top: 10px;
}

.top a {
  text-decoration: none;
  margin: 0 auto;
}

.top h2 {
  font-size: 16px;
  color: #10D817;
  text-align: center;
}

/*  HERO SEKCE   */
.hero {
  background-image: url(/images/hero-bw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
}

.hero__text {
  text-align: center;
  /* justify-content: center;*/
  /*align-items: center;*/
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: #10D817;
  margin: 0 auto;
  padding: 20px;
}

.hero__text h1 {
  font-size: 30px;
  /*na větší obrazovku 57px*/
  margin: 25px 0;
  padding: 0;
  color: white;
  text-shadow: 0px 4px 20px #10D817;
}

.hero__text p {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

/*JEDNOTLIVÉ SEKCE HLAVNÍ STRÁNKY*/
/*boxíky s info, jak závod probíhá*/
.box {
  display: block;
  padding: 20px 0;
  justify-content: center;
}

.box__item {
  background-color: white;
  padding: 10px;
  margin: 15px;
  justify-content: space-between;
}

.box__item--mini {
  display: flex;
  align-items: center;
}

.box__item--mini h3 {
  margin-left: 10px;
}

.box__item p {
  margin: 0;
  margin-top: 15px;
}

#auto, #kolo, #finish {
  max-height: 20%;
  max-width: 20%;
}

/*fotky na hlavní stránce*/
.gallery {
  background-color: #38383D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.gallery__photo {
  display: block;
  margin: 0 auto;
}

.gallery__photo img {
  max-width: 100%;
  max-height: 100%;
}

.gallery__text {
  text-align: center;
  padding: 5px;
}

/* Novinky*/
.news,
.news--count {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*Sponzoři*/
.sponsors {
  background-color: #38383D;
  padding: 15px 0;
}

.sponsors__foto {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

.sponsors__foto img {
  max-height: 100%;
  max-width: 100%;
}

.sponsors h3 {
  text-align: center;
}

/*Oblast s mapou a kontakty*/
.mapa {
  background-color: #4a4a4f;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

/*   MEDIA QUERY PRO MIN 900px   */
@media screen and (min-width: 990px) {
  .hero__text h1 {
    font-size: 50px;
  }

  .hero__text p {
    font-size: 30px;
  }

  .box {
    display: flex;
  }

  .box__item {
    flex: 1 1 calc( 100% / 3);
    padding: 20px;
  }

  .gallery__photo {
    display: flex;
  }

  .gallery__photo img {
    flex-basis: calc(100% / 3);
    overflow: hidden;
  }

  #photo--middle {
    margin: 0 30px;
  }

  .news {
    display: none;
  }

  .news--count {
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
  }

  .news--count a {
    font-size: 20px;
  }

  .sponsors__foto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .contact__main {
    display: flex;
  }

  .contact__item {
    align-items: left;
    justify-content: left;
  }

  .mapa {
    width: 120%;
  }
}