@use 'colors' as *;
@use 'forms-btn' as *;

/*width="560" height="315"*/
/*KONTAKTY*/


.contact__main {
  background-color: $letter-white;
  margin: 0 auto;
  padding: 15px;
}

.contact__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contacts p,
.contacts a {
  font-size: 18px;
  text-decoration: none;
  color: $bgd-dark;
  margin-left: 5px;
}

.contact__item--green p,
.contact__item--green a {
  color: $letter-green;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: left;
}
.contact__item--green {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact__item img,
.contact__item--green img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.contact__confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact__confirm p {
  color: $letter-white;
  margin: 0 10px;
}

.mapa--contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .contact__layout {
    display: flex;
    justify-content: space-around;
  }

  .contact__item,
  .contact__item--green {
    justify-content: left;
  }

  .contact__main {
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
  }
}