@use 'colors' as *;
@use 'forms-btn' as *;


/*KONTAKTY*/

.contact__contact{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contacts p,
.contacts a {
  font-size: 18px;
  text-decoration: none;
  color: $letter-main;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__item img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.contact__confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact__confirm p {
  color: $letter-second;
}

.mapa {
  margin: 0;
}

@media screen and (min-width: 700px){
  .contact__layout {
    display: flex;
    justify-content: space-around;
  }
  .contact__item {
    justify-content: left;
  }
  .contact__main {
    display: flex;
    justify-content: space-around;
  }
}