@use 'colors' as *;


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgd-dark;
  padding: 10px;
  bottom: 0;

}
footer p{
  font-size: 20px;
  margin: 0;
}
#footer__logo{
  max-width: 60px;
  margin-right: 10px;
}

@media screen and (min-width: 990px) {
  #footer__logo{
    max-width: 90px;
    margin-right: 10px;
  }
}