@use 'colors' as *;

/*FORMULÁŘ REGISTRACE*/

.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 auto;
}

.form-title h2{
  text-align: left;
  padding: 0;
  margin: 0 0 20px 0;
}

.form__item,
.form__radio,
.form__select select,
.form__mes{
  display: block;
  margin-bottom: 30px;
}
.form__item input,
.form__mes textarea,
.form__select select{
  width: 100%;
  margin-top: 5px;
  height: 30px;
  background-color: $bgd-main;
  color: $letter-second;
  font-size: 13px;
  font-family: $font;
}
.form__item label,
.form__item legend,
.form__mes legend,
.form__radio legend {
  font-size: 16px;
  color: $letter-main;
  margin-bottom: 10px;
}
.radio__item [type="radio"]{
  margin: 5px 0;
  height: 15px;
  width: 15px;
}

.form__mes textarea{
  height: 150px;
  padding: 12px 10px;
  resize: none;
}

.form__item [type="text"],
.form__item [type="email"],
select,
textarea{
  border: none;
  border-bottom: 3px solid $letter-main;
}

.registr {
  margin: 0 auto;
}

.button {
  background-color: $letter-main;
  color: $letter-second;
  border: 2px solid $letter-main;
  border-radius: 20px;
  display: flex;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 15px;

    & a {
      text-decoration: none;
      color: $letter-second;
    }
    &:hover {
      background-color: transparent;
      color: $letter-main;
      cursor: pointer;
    }
    &:hover a {
      color: $letter-main;
    }
}

.newsB {
  display: flex;
  margin: 0;
}

.sipka {
  bottom: 0;
  right: 10px;
  position: fixed;
  }

.sipka img {
  background-color: $letter-main;
  width: 30px;
}

@media screen and (min-width: 700px){
  .form {
    margin: 0 80px;
  }
  .registr {
    margin: 0 auto;
  }
}

