@use 'colors' as *;

/*CSS PROPOZICE*/

/*
.instruction li{
  color: $letter-main;
  font-size: 15px;
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;
}*/

.instruction ul{
  padding: 15px;
}
.instruction li{
  list-style-type: none;
  display: flex;
  color: $letter-main;
}

.instruction p{
  padding: 0;
  margin: 0 0 0 3px;
  color: $letter-second;
}

.instruction a {
  text-decoration: none;
  color: $letter-second;
}

.instruction__text{
  padding: 15px;
}
.instruction__item{
  display: block;
  margin-bottom: 15px;
}
.instruction__item h3{
  font-size: 16px;
  margin: 0;
}
.instruction__item p, li{
  color: $letter-second;
  margin: 0;
  font-size: 14px;
}
.instruction__item a{
  text-decoration: none;
  color: $letter-main
}
.instruction__item li{
  list-style-type: none;
}

#penalizace {
  color: $letter-second;
  margin-top: 5px;
}

#penalizace li {
  color: $letter-second;
  margin-top: 5px;
}