@use 'colors' as *;

/*CSS PROPOZICE*/

.instruction ul{
  padding: 15px; 
}

.instruction li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: $letter-main;
  font-size: 20px;
  margin-top: 5px;
}


.instruction p{
  padding: 0;
  margin: 0;
  color: $letter-second;
  font-size: 20px;
}

.instruction a {
  text-decoration: none;
  color: $letter-second;
}

.instruction__text{
  padding: 15px;
}
.instruction__item{
  display: block;
  margin-bottom: 15px;
}
.instruction__item h3{
  font-size: 20px;
  margin: 0;
}
.instruction__item p, li{
  color: $letter-second;
  margin: 0;
  font-size: 18px;
}
.instruction__item a{
  text-decoration: none;
  color: $letter-main
}
.instruction__item li{
  list-style-type: none;
}

#penalizace {
  color: $letter-second;
  margin-top: 5px;
}
.title--second {
  font-size: 14px;
  color: $letter-main;
  margin-top: 10px;
}

#penalizace li {
  color: $letter-second;
  margin-top: 5px;
}

@media screen and (min-width: 450px) {
  .instruction li{
    display: flex;
    flex-direction: row;
  }
  .instruction p{
    margin-left: 5px;
  }
}