@use 'colors' as *;

/*nadpis-obrázek a MTBO nad menu*/
.top {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.logoM {
  display: inline-block;
  margin: 20px 10px 10px 10px;
  justify-content: center;
  text-align: center;
}

.logoM img {
  height: auto;
  max-width: 90%;
}

.top p {
  font-size: 16px;
  color: $letter-green;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .logoM img {
    max-width: 80%;
    margin-top: 10px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .logoM img {
    max-height: 80%;
    max-width: 80%;
    margin-top: 10px;
  }
  .logoM {
    text-align: left;
  }
}

/* položky menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__mobil--hidden {
  display: none;
}

.menu__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px 0;
}

.menu--style {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.menu__item, .menu__toggler{
  display: flex;  
  margin: 0 10px;
  background-color: transparent;
  color: $letter-green;
  border: none;
  font-size: 20px;
  padding: 0;
  font-family: 'Raleway';
  max-width: 100%;
  justify-content: left;
  align-items: baseline;
}

.menu__link, .menu__toggler button{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  color: $letter-green;
  text-align: center;
  font-size: 20px;
  border: 1px solid transparent;
  }

 .menu__link:hover, .menu__toggler:hover {
    font-weight: 800;
    border-bottom: 1px solid $letter-green;
    cursor: pointer;
  }

.menu__item--active {
  font-weight: 800;
  border-bottom: 1px solid $letter-green;
}

.margin--active {
  margin: 0;
}

.menu__mobil--hidden li {
    text-align: left;
  }

@media screen and (min-width: 800px){
  .dropdown-content{
    display: none;
  }
  .menu {
    align-items: right;
  }
  .menu__mobil--hidden{
    display: flex;
  }
  
  /* text v menu zarovnaný doprostřed*/
  .menu__mobil--hidden li {
    text-align: center;
  }

  .menu__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1000px) {
 .menu {
    margin: 10px 0 0 0;
    padding: 0 10xp;
  }

  .hero__text h1{
    font-size: 50px;  
  }
  .hero__text p{
    font-size: 40px;
  }
  .menu__link:hover, .menu__toggler:hover, .menu__item--active {
    font-weight: 800;
    border-bottom: none;
    text-decoration: underline 1px solid $letter-green;
    text-underline-position: under;
  }
  .logoM img {
    max-height: 80%;
    max-width: 80%;
    margin-top: 10px;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  width: 175px;
  overflow: auto;
  z-index: 1;
  background-color: black;
}

.show {
  display: block;
}