@use 'colors' as *;

/* rozložení hlavní stránky */
.main__layout {
  min-height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 70%), url('/images/hero-bg.jpg') no-repeat center/cover; 
}

/* třída pro menu na dalších stránkách*/
.page__layout {
  margin-bottom: 50px;
  border-bottom: 1px solid $letter-main;
  background-color: $bgd-main;
}


/*nadpis-obrázek a MTBO nad menu*/
.top {
  display: block;
  margin: 0 auto;
}
.logoM{
  display: block;
  text-align: center;
  margin: 10px 20px;
}
.logoM img{
  height: auto;
  width: 100%;
}
.top a{
  text-decoration: none;
  margin: 0 auto;
}
.top h2{
  font-size: 16px;  
  color: $letter-main;
  text-align: center;
  margin-top: 10px;
}

/* položky menu */

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu__checkbox{
  position: absolute;
  left: -9999px;
}
.menu__mobil--hidden{
  display: none;
}

.menu__list{
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin: 20px 0;
  align-items: baseline;
}

#domek{
  width: 20px;
  height: 20px;
}

.menu__item, 
.menu__toggler{
  display: flex;  
  margin-left: 10px;
}
.menu__link, 
.menu__toggler {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  color: $letter-main;
  text-align: left;
  font-size: 20px;
  margin-top: 3px;
     
    &:hover {
      font-weight: 800;
      text-decoration: underline $letter-main;
      text-underline-position: under;
    }
}

.menu__item--active {
  font-weight: 800;
  text-decoration: underline 1px solid $letter-main;
  text-underline-position: under;
    &:hover {
      text-decoration: none;
      text-underline-position: none;
    }
}

/*  HERO SEKCE   */
 
.hero__text {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $letter-main;
  margin: 40px auto;
  padding: 20px;
}
.hero__text h1{
  font-size: 30px;  
  margin: 0 0 25px 0;
  padding: 0;
  color: $letter-second;
  text-shadow: 0px 4px 20px $letter-main;
}
.hero__text p{
  margin: 0 0 15px 0;
  font-size: 25px;
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  .hero__text h1 {
    font-size: 40px;
  }
  .hero__text p{
    font-size: 35px;
  }
}

@media screen and (max-width: 799px) {
  .header__layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu__checkbox:checked ~ .menu__mobil--hidden{
    display: flex;
    flex-direction: column;
  }
  .menu__mobil--hidden .menu__link, 
  .menu__toggler{
    text-align: left;
  }
  .menu__mobil--hidden li {
    text-align: center;
  }
  .box-mini{
    display: flex;
  }
  .box-mini h3{
    padding-left: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
  .logoM img{
    max-width: 40%;
    margin-top: 10px;
  }
}
@media screen and (min-width: 800px){
  .header__layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu__toggler{
    display: none;
  }
  .menu__mobil--hidden{
    display: flex;
  }
  .menu {
    margin: 0;
    padding: 0 10xp;
  }
  .hero__text h1{
    font-size: 50px;  
  }
  .hero__text p{
    font-size: 40px;
  }
  .menu__link:hover, 
  .menu__toggler:hover, 
  .menu__item--active {
      font-weight: 800;
      border-bottom: none;
      text-decoration: underline 1px solid $letter-main;
      text-underline-position: under;
    }
  
}

@media screen and (min-width: 1000px) {
  .header__layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoM img{
    max-height: 80%;
    max-width: 80%;
    margin-top: 10px;
  }
}