@use 'colors' as *;

.news__list {
  display: flex;
  flex-direction: column;
}
.news__list img{
  width: 100%;
  height: auto;
}
.news__item p {
  margin: 0 0 15px 0;
}
.article {
  padding: 0 20px;
}

.article__text a {
  text-decoration: none;
  color: $letter-second;
    &:hover{
      border-bottom: 1px solid $letter-main;
    }
}

.article__img {
  justify-content: center;
  width: 50%;
  height: auto;
}

.article__content {
  color: $letter-second;
}
.article__content h4{
  color: $letter-main;
}
.article__content a {
  text-decoration: none;
  color: $letter-main;
}

.news__item a {
  text-decoration: none;
  color: $letter-main;
}

/*CSS pro novinky na hlavní stránce*/
.index__item h2 {
  font-size: 20px;
}
.index__item p {
  font-size: 16px;
}
.index__item a {
  text-decoration: none;
  color: $letter-main;
  font-size: 20px;
}

.index__item {
  text-align: center;
}
.empty__space {
  min-height: 500px;
}

@media screen and (min-width: 990px){
  .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .news__item img{
    max-width: 90%;
  }
  .news__item {
    margin-left: 30px;
  }
}