@use 'colors' as *;

.news__list {
  display: flex;
  flex-direction: column;
}
.news__list img{
  max-width: 50%;
  height: auto;
}
.news__item {
  margin-bottom: 30px;
}
.news__item p {
  margin: 0 0 15px 0;
  color: $letter-green;
}
.news__index a {
  color: $bgd-ultra-light;
}
.article {
  padding: 0 20px;
}

.news__title--main {
  margin: 40px auto 20px auto;
}
.article__text a {
  text-decoration: none;
  color: $letter-white;
    &:hover{
      border-bottom: 1px solid $letter-green;
    }
}
.article__img {
  justify-content: center;
  width: 50%;
  height: auto;
}

.article__content {
  color: $letter-white;
}
.article__content h4{
  color: $letter-green;
}
.article__content a {
  text-decoration: none;
  color: $letter-green;
}

.news__item a {
  text-decoration: none;
  color: $letter-green;
}

/*CSS pro novinky na hlavní stránce*/
.index__item h2 {
  color: $bgd-dark;
}
.news__item h2 {
  font-size: 20px;
}
.news__item p {
  font-size: 12px;
  color: $letter-green;
}
.index__item {
  text-align: center;
}
.index__item a {
  text-decoration: none;
  color: $bgd-dark;
  font-size: 20px;
}
.index__item p {
  color: $bgd-dark;
  font-size: 12px;
  text-align: center;
}
.news__item {
  text-align: center;
}
.empty__space {
  min-height: 500px;
}
.news--count{
  margin: 0;
}

@media screen and (min-width: 990px){
  .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .news__item img{
    max-width: 90%;
  }
  .news__item {
    margin-left: 30px;
  }
  .index__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .index__item h2 {
    margin: 0;
  }
  .news__section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}