@use 'colors' as *;

.video, .foto{
  display: inline-blok;
  text-align: center;
}
.video iframe{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/*width="560" height="315"*/

.video p, .photo p{
  font-size: 18px;
}

.photo {
  margin-bottom: 10px;
  text-align: center;
}
.photo a {
  text-decoration: none;
  color: $letter-second;
}

.photo__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.photo__list img {
	max-width: 100%;
  justify-items: center;
}
