@use 'colors' as *;

.video, .photo{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.video iframe{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.video p, .photo p{
  font-size: 18px;
  margin: 0 0 5px 0;
}

.photo a {
  text-decoration: none;
  color: $letter-second;
  margin: 0;
}

.photo__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1px;
  grid-auto-flow: row dense;
}


.photo__list img {
	width: 100%;
  height: 100%;
  object-fit: cover;
  justify-items: center;
}


@media screen and (min-width: 990px) {
  .video__layout {
    display: flex;
    justify-content: space-around;
  }

  .photo__list a:nth-child(6n){
    grid-column: span 2;
    grid-row: span 2;
  }

  .video iframe{
    max-width: 560px;
    max-height: 315px;
    margin-bottom: 20px;
  }
}
/*width="560" height="315"*/