@use 'colors' as *;


.scrollable-table {
  overflow-x: auto;
  font-size: 15px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border: 1px solid $letter-green;
}
.table__layout h2 {
  margin: 0 0 20px 0;
}
th, 
td {
  text-align: center;
  border: 1px solid $letter-green;
  padding: 3px;
}
td {
  color: $letter-white;
}

.tab-title th{
  background-color: $bgd-dark;
  padding: 2px;
}

.result a{
  display: block;
  text-decoration: none;
  color: $letter-green;
}

@media screen and (min-width: 990px) {
  .table__layout {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .table__layout h3 {
    margin: 30px 0 5px 0;
  }
}