@use 'colors' as *;
@use 'forms-btn' as *;
@use 'menu' as *;
@use 'footer' as *;
@use 'instruction' as *;
@use 'tables' as *;
@use 'photo' as *;
@use 'contact' as *;
@use 'news' as *;


html { 
  box-sizing: border-box; 
   height: 100%;
}
*, ::after, ::before { box-sizing: inherit; }

body{
  font-family: $font;
  background-color:  $bgd-second;
  margin: 0 auto;
  padding: 0;
  color: $letter-main;
  height: 100%;
}
.sirka{
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}

/*nadpis-obrázek a MTBO nad menu*/
.top {
  display: block;
  margin: 0 auto;
}
.logoM{
  display: block;
  text-align: center;
}
.logoM img{
  max-height: 70%;
  max-width: 70%;
  margin-top: 10px;
}
.top a{
  text-decoration: none;
  margin: 0 auto;
}
.top h2{
  font-size: 16px;  
  color: $letter-main;
  text-align: center;
}

/*  HERO SEKCE   */
.hero{
  background-image: url(/images/hero-bw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
 }

.hero__text {
  text-align: center;
 /* justify-content: center;*/
  /*align-items: center;*/
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: $letter-main;
  margin: 0 auto;
  padding: 20px;
}
.hero__text h1{
  font-size: 30px;  /*na větší obrazovku 57px*/
  margin: 25px 0;
  padding: 0;
  color: $letter-second;
  text-shadow: 0px 4px 20px $letter-main;
}
.hero__text p{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

/*JEDNOTLIVÉ SEKCE HLAVNÍ STRÁNKY*/

.box{
  display: block;
  padding: 20px 0;
  justify-content: center;  
}
.box__item{
  background-color: $letter-second;
  padding: 10px;
  margin: 15px;
  justify-content: space-between;
}
.box__item--mini{
  display: flex;
  align-items: center;
}
.box__item--mini h3{
  margin-left: 10px;
}
.box__item p{
  margin: 0;
  margin-top: 15px;
}
#auto, #kolo, #finish{
  max-height: 20%;
  max-width: 20%;
}

.gallery{
  background-color: $bgd-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.gallery__photo{
  display: block;
  margin: 0 auto;
}
.gallery__photo img{
  max-width: 100%;
  max-height: 100%;
}

.gallery__text {
  text-align: center;
  padding: 5px;
}

.news {
  display: flex;
  /*justify-content: space-around;*/
}


.sponsors{
  background-color: $bgd-main;
  padding: 15px 0;
}
.sponsors__foto{
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.sponsors__foto img{
  max-height: 100%;
  max-width: 100%;
}

.sponsors h3{
  text-align: center;
}

.mapa{
  background-color: $bgd-second;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}


