@use 'colors' as *;
@use 'boxes' as *;
@use 'contact' as *;
@use 'footer' as *;
@use 'forms-btn' as *;
@use 'hero' as *;
@use 'instruction' as *;
@use 'menu' as *;
@use 'news' as *;
@use 'photo' as *;
@use 'sponsors' as *;
@use 'tables' as *;


html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: $bgd-dark;
  margin: 0 auto;
  padding: 0;
  color: $letter-green;
  height: 100%;
}

.sirka {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
}

.sirka--white{
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
  background-color: $letter-white;
}

.bgd-mainPage{
  background-color: $letter-white;
}
.bgd--dark {
  background-color: $bgd-dark;
}
.sipka {
  bottom: 0;
  right: 10px;
  position: fixed;
}

.sipka img {
  background-color: $letter-green;
  width: 30px;
}
.empty__space {
  min-height: 500px;
}

/* rozložení hlavní stránky */
.main__layout {
  min-height: 800px;
  background: linear-gradient(black, rgba(0, 0, 0, 0) 90%), url("/images/hero-bw.jpg") no-repeat center/cover;
  margin: 0;
}

/* třída pro menu na dalších stránkách*/
.page__layout {
  margin-bottom: 50px;
  /*border-bottom: 1px solid $letter-green;*/
  background-color: $bgd-dark;
}

.header__layout {
  border-bottom: 1px solid $letter-green;
}
.border--no {
  border-bottom: none;
}

.header__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

@media screen and (min-width: 600px) {
  .main__layout {
   min-height: 900px;
  }
}

@media screen and (min-width: 800px) {
  .header__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px) {
 .main__layout {
   display: flex;
   flex-direction: column;
 }

  .header__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


/*JEDNOTLIVÉ SEKCE HLAVNÍ STRÁNKY*/

/* Novinky*/
.news__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.news__title--main {
  color: $letter-green;
  font-size: 24px;
  margin: 0 auto;
}

.news__section h2 {
  text-align: center;
  color: $bgd-dark;
  margin: 0;
}

.news {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.news--count {
  display: none;
}


/*fotky na hlavní stránce*/

.gallery {
  background-color: $bgd-dark;
  margin: 0;
  padding: 0;
}

.gallery__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.photo--bigger img{
  max-width: 100%;
  height: auto;
  margin: 0;  
  display: block;
}
.photo--bigger {
  overflow: hidden;
}

.photo--bigger:hover img {
transform: scale(1.02);
}


/*Oblast s mapou a kontakty*/
.mapa {
  background-color: $letter-white;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.mapa iframe {
   max-width: 100%;
   height: auto;
  }


@media screen and (min-width: 550px) {
  .gallery__photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .index__item {
    width: 175px;
    margin: 0 55px;
  }
  
  .mapa iframe {
    width: 100%;
  }
}


@media screen and (min-width: 800px) {
  .news {
    display: none;
  }

  .news--count {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
  }
}
/*   MEDIA QUERY PRO MIN 990px   */
@media screen and (min-width: 990px) {
  .news--count h2 {
    text-align: center;
  }

  .news--count a {
    font-size: 20px;
  }
}

