---
layout: page-main.njk
title: BB úvod
---

<section class="sirka">
  <div class="box">
    
  <div class="box__item">
    <div class="box__item--mini">
      <img id="auto" src="/images/auto.png" alt="auto">
      <h3>Před závodem</h3>
    </div>
      <p>Sbalíš si kolo, oblíbený cyklistický obleček, nějaké jídlo co rád/a jíš během sportu (tyčinka, banán, řízek ....).</p>
  </div>

  <div class="box__item">
    <div class="box__item--mini">
      <img id="kolo" src="/images/kolo.png" alt="kolo">
      <h3>Během závodu</h3>
    </div>
      <p>Pár vteřin po startu dostaneš mapu se zakreslenými body a jejich ohodnocení, nápovědu a kartičku s body. Kolik bodů nasbíráš a jak se k nim dostaneš je už na tobě.</p>
  </div>

  <div class="box__item">
    <div class="box__item--mini">
      <img id="finish" src="/images/finish.png" alt="finish">
      <h3>Po závodě</h3>
    </div>
      <p>Až projedeš cílem, tak tě čeká občerstvení, posezení s kamarády, koupání, medailový ceremoniál a možná i nějaký ten kulturní zážitek.</p>
  </div>
</div>
</section>

<section class="gallery">
  <div class="sirka">
    <div class="gallery__photo">
      <img src="/images/images-small/12s.jpg" alt="BB1">
      <img src="/images/images-small/7s.jpg" alt="BB4">
      <img src="/images/images-small/13s.jpg" alt="dobrota">
    </div>

    <p class="gallery__text">Pokud tě zajímá, jak to při takovém závodě doopravdy vypadá, koukni na další fotky a video z loňského nultého ročníku.</p>

    <button class="button"><a href="/fotovideo/">Další fotky</a></button>

  </div>
</section>

<section class="news sirka">
    
    {% for novinky in collections.aktuality | reverse | limit(2) %}
      <div class="index__news">
        <div class="index__item">
          <h2><a href="{{ novinky.url }}">{{ novinky.data.title }}</a></h2>
          <p>Datum: {{ novinky.data.date.toLocaleString('cs-CZ') }}</p>
          <p><a href="{{ novinky.url }}">Více...</a></p>
        </div>
      </div>
    {% endfor %}
</section>

<section class="news--count sirka">
    
  {% for novinky in collections.aktuality | reverse | limit(3) %}
    <div class="index__news">
      <div class="index__item">
        <h2><a href="{{ novinky.url }}">{{ novinky.data.title }}</a></h2>
        <p>Datum: {{ novinky.data.date.toLocaleString('cs-CZ') }}</p>
        <p><a href="{{ novinky.url }}">Více...</a></p>
      </div>
    </div>
  {% endfor %}
</section>

<section class="sponsors">
  <div class="sirka">
    <h3>Naši sponzoři a dobrovolníci</h3>
    <div class="sponsors__foto">
    <a href="https://www.pivovarpetrpetruzalek.cz/" target="_blank"><img src="/images/pivovar.png" alt="PPP pivovar"></a>
    <a href="https://www.screentech.cz/index" target="_blank"><img src="/images/screentech.png" alt="screentech"></a>
    <a href="http://www.sklenarstvi-pech.cz/" target="_blank"><img src="/images/Sklenarstvi_Pech.png" alt="Sklenarstvi_Pech"></a>
    <a href="http://www.truhlarstvi-bukova.cz/" target="_blank"><img src="/images/truhlar.png" alt="truhlar"></a>
    </div>
    <p><span style="color: white">mami</span> – uvařila skvělý guláš, napekla dokonalé vdolky, buchty a další dobroty</p>
    <p><span style="color: white">Běla, její dcera Běla a její dcera Johanka</span> – pomoc při registraci, focení a krmení našich hladových závodníků</p>
    <p><span style="color: white">obec Buková</span> – poskytnutí zázemí u rybníku Brůdek</p>
    <p><span style="color: white">Karel, Petr, Martin, Jitka a Jituška</span> - pomoc při přípravě areálu a svážení lampionků po závodě</p>
  </div>
</section>

<section class="contact__main sirka">
    <div class="mapa">
      <iframe style="border:none" src="https://frame.mapy.cz/s/hobolovodo" width= "100%" height="100%" frameborder="0"></iframe>
    </div>

  <div class="contacts">
    <div class="contact__item">
      <img src="/images/mail.png">
      <p>bukovsky.bloudil@gmail.com</p>
    </div>

    <div class="contact__item">
      <img src="/images/thumb-up.png">
      <a href="https://www.facebook.com/bukovskybloudil" target="_blank">Bukovský Bloudil</a>
    </div>

    <div class="contact__item">
      <img src="/images/tlf.png">
      <p>123 456 789</p>
    </div>
  </div>

</section>