---
layout: news-list.njk
---

<article class="article">

<a class="button" href="/aktuality/">zpět na aktuality</a>


<h3>{{ title }}</h3>
<p>Publikováno: {{page.date.toLocaleString('cs-CZ')}}</p>

  <div class="article__content">
    
  {{ content | safe }}

  </div>

<img class="article__img" src="/images/{{ foto }}" alt="{{ alt }}">
  
</article>

<div class="empty__space"></div>