<!DOCTYPE html>
<html lang="cs">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;800&display=swap" rel="stylesheet">
   
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/site.webmanifest">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  <meta property="og:title" content="{title}">   <!--titulek si fcb načte z titulku. To samé i u ostaních položek-->
	<meta property="og:description" content="">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{foto}">
	<meta property="og:url" content="https://bukovskybloudil.netlify.app/">
	<meta property="og:locale" content="cs_CZ">
  

     <title> {{title}} </title>

  </head>
  <body>
    
   <section class="main__layout">
      

   <div class="header__layout border--no">      
     <div class="top">
       <div class="logoM" id="nahoru">
         <a href="/"><img src="/images/BB-logo-obr.png"></a>
       </div>
     </div>
   

   <nav class="menu">
    <ul class="menu__list">
        
      <div class="menu--style">

        <li class="menu__item {{'menu__item--active' if page.fileSlug === 'aktuality'}}">
          <a class="menu__link" href="/aktuality/">AKTUALITY</a>
        </li>

        <li class="menu__item {{'menu__item--active' if page.fileSlug === 'registrace'}}">
          <a class="menu__link" href="/registrace/">REGISTRACE</a>
        </li>
      </div>

      <div class="menu--style">

        <div class="menu__mobil">

          <button onclick="myFunction()" class="menu__toggler">ZÁVODY</button>
              
            <div id="menu__mobil--hidden" class="dropdown-content">

              <li class="menu__item {{'menu__item--active' if page.fileSlug === 'startovka'}}">
                <a class="menu__link" href="https://bukovskybloudil.netlify.app/" target="_blank">Startovní listina</a>
              </li>

              <li class="menu__item {{'menu__item--active' if page.fileSlug === 'vysledky'}}">
                <a class="menu__link" href="/vysledky/">Výsledky</a>
              </li>

              <li class="menu__item {{'menu__item--active' if page.fileSlug === 'fotovideo'}}">
                <a class="menu__link" href="/fotovideo/">Foto & Video</a>
              </li>                

              <li class="menu__item {{'menu__item--active' if page.fileSlug === 'propozice'}}">
                <a class="menu__link" href="/propozice/">Propozice</a>
              </li>

            </div>
        </div>
          
              <li class="menu__item {{'menu__item--active' if page.fileSlug === 'kontakt'}}">
                <a class="menu__link" href="/kontakt/">KONTAKT</a>
              </li>
                
      </div>
          
    </ul>
   </nav>
   </div>  

      <div class="hero__text">
        <h1>ZAŽIJ ADRENALIN</h1>
        <h1>PŘEKONEJ LIMITY</h1>
        <p>Orientační závod na horských kolech.</p>
        <p>5 hodin. Plno zážitků.</p>
        
        <a class="button--bigger" href="/registrace/">REGISTRACE</a>
      </div>


 </section>
<main>

{{ content | safe }}

</main>

  <footer>
    <img id="footer__logo" src="/images/Footer-logo.png">
    <div>
      <p>Dost dobrá akce.</p>
      <p>Tak přijeď.</p>
    </div>
  </footer>

  <div class="sipka">
    <a href="#nahoru"><img src="/images/top-icon.jpg"></a>
  </div>

  <script src="/lightbox/fslightbox.js"></script>
  <script src="/menu-js/menu.js"></script> 
  </body>
</html>